
.results {
}

.path {
	height: 2.2em;

	> *  {
		vertical-align: top;
	}

	&Field {
		height: 2.2em;
		display: inline-block;
		max-width: 100%;
		height: 2.2em;
		overflow-x: auto;
		white-space: nowrap;
	}
}
